/*Estilo fuente general*/
@font-face {
  font-family: 'lato';
  src: url(../assets/Fonts/Lato-Bold.ttf);
}

/* Ejemplo de reset de CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: 'latolihi', sans-serif;
  background-color: rgba(0, 0, 0, 0.828);
  position: relative;
}

/* Estilos Header */
header {
  width: 100%;
  max-width: 2000px;
  margin: 0 auto;
  height: 25vh;
  background-image: url('../assets/img/fondoTop.jpg');
  background-size: cover;
  background-position: center;
  padding: 0px;
  position: relative;
  text-align: center;
  box-shadow: 2px 2px 4px #41d5ef9a;
}

/* Estilos para video del banner */
.video-contenedor {
  height: 25vh;
}

.video-superpuesto {
  width: 100%;
  height: 100%;
}
/* Estilo h1*/
h1 {
  font-family: 'lato';
  color: #ee1d94c9;
  font-size: 4rem;
  letter-spacing: 6px;
  padding: 10px;
  line-height: 21vh;
  margin: 0;
  text-shadow: 0 0 10px  rgba(0, 0, 0, 0.828),  0 0 20px  #f6229ab0, 0 0 40px  #f6229ab0;
}

/* Logos redes */
.logos {
  position: absolute;
  top: 20px;
  right: 90px;
}
.logos a i {
  font-size: 30px;
  color: #f4d721;
  margin-right: 10px;
}

/* Estilos menú desplegable */
nav {
  position: absolute;
  bottom: 10px;
  right: 80px;
  background-color: rgba(255, 0, 255, 0.542);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.828);
  border-radius: 10px;
}

.menu-toggle-label {
  font-size: 25px;
  cursor: pointer;
  padding: 10px 40px;
  margin-bottom: 60px;
}

/* Icono de menú */
label[for='menu-toggle-checkbox'] {
  font-family: 'lato light';
  font-weight: lighter;
  letter-spacing: 2px;
  font-size: 30px;
  cursor: pointer;
  padding: 10px 40px;
  margin-bottom: 60px;
}

/* Lista de menú */
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background-color: #ff00ff7e;
  position: absolute;
  bottom: -277px;
  right: 0;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  border-radius: 10px;
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

input[type='checkbox']:checked ~ .menu {
  opacity: 1;
  pointer-events: auto;
}

.menu li {
  text-align: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.menu a {
  color: rgb(3, 193, 251);
  text-decoration: none;
  padding: 10px 20px;
  font-size: medium;
  transition: transform 0.3s;
  position: relative;
  display: block;
}
.menu a:hover {
  color: rgb(59, 207, 252);
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}

/* Estilos para el contenido "middle" */
.middle {
  min-height: calc(132vh - 17vh - 5vh);
  background-image: url('../assets/img/fondoRestBodi2.png');
  background-size: cover;
  background-position: center;
  text-align: center;
}

/* Estilos generales para los articles*/
article {
  width: 50%;
  margin: 25% 25%;
  background-color: rgba(255, 0, 255, 0.18);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 60px;
  position: absolute;
  box-shadow: 6px 6px 6px #09bddd5a;
  margin-left: 400px;
}

article img {
  width: 200px;
  height: 200px;
  margin: 20px;
  border-radius: 10px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.828);
}
/* Estilo para el artículo de texto about tapi*/
.texto {
  width: 45%;
  float: left;
  text-align: justify;
  line-height: 1.5;
  letter-spacing: 1px;
  padding: 10px;
  background-color: rgba(255, 0, 255, 0.18);
  border-radius: 10px;
  margin-left: 680px;
  position: absolute;
  overflow-y: scroll;
  max-height: 500px;
  font-family: 'lato light';
  color: #a9e8f4;
  margin-top: 70px;
}

/* Estilo para el párrafo dentro de .texto */
.texto p {
  margin: 0 20px 20px 20px;
}

/* Estilo para el div izquierdo de aboutTapi */
.div-izquierdo {
  width: 20%;
  float: left;
  padding: 10px;
  background-color: rgba(255, 0, 255, 0.18);
  border-radius: 10px;
  position: absolute;
  margin-left: 240px;
  max-height: 500px;
  margin-top: 70px;
  margin-bottom: 20px;
}

/* Estilo para el contenido del div izquierdo de aboutTapi*/
.div-izquierdo img {
  max-width: 100%;
  height: auto;
  max-height: 500px;
}

/* Estilos para la página de Contacto */
.contacto article {
  width: 800px;
  height: 600px;
  margin: 20px auto;
  background-color: rgba(255, 0, 255, 0.23);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  width: 48%;
  margin: 14%;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}

/* Estilos para la tabla */
.contacto table {
  width: 100%;
  text-align: center;
}

/* Estilos para las celdas de la tabla */
.contacto td {
  padding: 05px;
}

/* Estilos para los iconos */
.contacto a i {
  font-size: 30px;
  color: #09bddd;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  margin-right: 10px;
}

/* Estilos para el párrafo de texto */
.contacto p {
  margin-bottom: 15px;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
  font-family: 'lato';
  color: #f4d821cd;
  letter-spacing: 2px;
  line-height: 1.5;
}

/* Estilo del div del mapa */
.ubicacionMapa {
  width: 300px;
  height: 200px;
  box-sizing: border-box;
  border: 1px solid rgba(255, 0, 255, 0.5);
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.533);
  display: inline-block;
  vertical-align: top;
}

/* Estilo para el título de los articles */
article h2 {
  font-family: 'latolighti', sans-serif;
  color: #edd53ce8;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 1.5rem;
  margin-bottom: 10px;
  margin-top: 10px;
  letter-spacing: 1.5;
}

/* Estilos para el artículo de preguntas frecuentes */
.preguntas {
  width: 40%;
  background-color: rgba(255, 0, 255, 0.18);
  border-radius: 10px;
  padding: 10px;
  overflow: hidden;
  box-sizing: border-box;
  margin-top: 42px;
  position: absolute;
  box-shadow: 6px 6px 6px #09bddd5a;
  margin-left: 100px;
}

/* Estilo para el section de preguntas frecuentes */
.preguntas-section {
  float: left;
  width: 45%;
  background-size: cover;
  background-position: center;
  margin-top: 20px;
}

/* Estilo de la pregunta */
.question-label {
  font-weight: bold;
  cursor: pointer;
  color: #22d6f6;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 0.3s ease;
  display: block;
  letter-spacing: 1.5;
}

.faq-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Cambiar el color de fondo al pasar el cursor */
.question-label:hover {
  background-color: rgba(0, 0, 0, 0.325);
}
/* Ocultar las respuestas por defecto */
.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  color: #8dd4e0;
  padding: 10px;
  font-family: 'latolighti', sans-serif;
  line-height: 2.5;
  letter-spacing: 1.5;
}

/* Mostrar respuestas cuando la casilla de verificación está marcada */
.question-input:checked + .question-label + .answer {
  max-height: 1000px;
  margin-top: 10px;
}

/* Estilos para el símbolo de alternancia */
.question-label::before {
  content: none;
  display: inline-block;
  margin-right: 5px;
}

/* Cambiar el símbolo cuando la casilla de verificación está marcada */
.question-input:checked + .question-label::before {
  content: none;
}

/* Estilos para el artículo de cotización */
.cotizacion {
  width: 40%;
  margin: 30px 1%;
  background-color: rgba(255, 0, 255, 0.18);
  border-radius: 10px;
  padding: 10px;
  float: left;
  box-sizing: border-box;
  margin-left: 700px;
  margin-top: 60px;
  height: 75%;
}

/* Estilos para el formulario de cotización */
form {
  margin-top: 20px;
}

/* Estilo para los nombres de los campos*/
form label {
  font-family: 'lato';
  color: #22d6f6;
  display: block;
  margin-bottom: 5px;
  float: left;
  letter-spacing: 1px;
  line-height: 2.5;
  clear: left;
  margin-left: 10px;
  margin-top: 20px;
}

/* Estilo para los campos de*/
form input[type='text'],
form input[type='tel'],
form input[type='email'] {
  width: 50%;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  float: right;
  line-height: 2;
  margin-top: 5px;
  margin-right: 40px;
  background-color: #cccccc83;
}

/* Estilos para el cuadro de texto de la consulta */
form textarea {
  width: 50%;
  height: 50%;
  padding: 2px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  background-color: #cccccc83;
  border-radius: 10px;
  float: right;
  line-height: 1;
  margin-right: 40px;
}

/* Estilos para seccion subir imagnen*/
form input[type='file'] {
  width: 29%;
  height: auto;
  padding: 5px;
  border: 1px solid #ccc;
  background-color: #cccccc83;
  border-radius: 10px;
  margin-right: 59px;
}

form input[type='file']:hover {
  background-color: #0e748683;
}

/* Estilos para el botón en la sección de cotización */
.cotizacion button {
  font-family: 'lato';
  font-size: small;
  letter-spacing: 1.5px;
  background-color: rgba(255, 0, 255, 0.5);
  color: #22d6f6;
  border: none;
  border-radius: 10px;
  padding: 13px 25px;
  cursor: pointer;
  font-weight: bold;
  clear: both;
  float: right;
  margin-top: 8px;
  box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.852);
  margin-right: 40px;
  margin-top: 180spx;
}

/* Estilos del footer */
footer {
  width: 100%;
  text-align: center;
  background-color: rgba(16, 2, 16, 0.388);
  height: 05vh;
  border-top: 2px solid rgba(8, 187, 241, 0.2);
  box-shadow: 0px -5px 05px rgba(8, 187, 241, 0.486);
  position: fixed;
  bottom: 0;
}

footer h4 {
  display: inline;
  color: rgb(60, 206, 251);
  margin: 07px 200px 10px;
  font-family: 'lato';
  font-size: small;
  text-decoration: none;
}
.ubicacion-icon {
  margin-right: 5px;
}
.ubicacion {
  display: inline-block;
}
