@import '../functions/mixins';
@import '../base/fonts';
@import '../base/variables';
@import '../base/colors';

.header {
  width: $ancho;
  max-width: $max-width;
  margin: 0 auto;
  height: $height-header;
  background-image: url('../assets/img/fondoTop.jpg');
  @include fondo-cover-center;
  box-shadow: map-get($sombras-color, 'header-shadow');
}

.header__content {
  position: relative;
  overflow: hidden;
}

/* Estilo h1 */
h1 {
  font-family: $font1;
  color: map-get($colores, 'h1-color');
  font-size: $tamano14;
  font-weight: $font-wei-3;
  letter-spacing: $mayor;
  padding: 10px;
  line-height: 21vh;
  margin: 0;
  text-shadow: map-get($sombras-color, 'h1-shadow');
  z-index: 2;

  @media (max-width: 767px) {
    @include flex-center-center;
    font-size: $tamano6;
    letter-spacing: $medio;
  }

  @media (max-width: 480px) {
    @include flex-row-center;
    font-size: $tamano2;
    line-height: 22vh;
    letter-spacing: $medio;
  }
}

/* Logos redes */
.header__div-logos {
  position: absolute;
  top: 5%;
  right: 4%;
  display: flex;

  .div-logos__a {
    font-size: $tamano5;
    color: map-get($colores, 'yelow');
    letter-spacing: $medio;
    padding: 10px;
  }

  @media (max-width: 767px) {
    right: 29px;
  }

  @media (max-width: 480px) {
    right: 8px;
  }
}

/* Estilos menú desplegable */
.header__header-nav {
  position: absolute;
  top: 18vh;
  right: 6vh;
  background-color: map-get($colores, 'background-rosa');
  box-shadow: 0px 0px 10px map-get($colores, 'background');
  border-radius: 5px;
  z-index: 2;

  @media (max-width: 767px) {
    right: 31px;
  }

  @media (max-width: 480px) {
    right: 15px;
  }
}

/* Menú toggle label */
.menu-toggle-label {
  font-size: $tamano6;
  cursor: pointer;
  padding: 10px 40px;
  color: map-get($colores, 'turquesa');
}

/* Icono de menú */
label[for='menu-toggle-checkbox'] {
  font-family: $font1;
  font-weight: $font-wei-1;
  letter-spacing: $medio;
  font-size: $tamano5;
  cursor: pointer;
  padding: 0px 30px;
  color: map-get($colores, 'turquesa');
}

@media (max-width: 767px) {
  label[for='menu-toggle-checkbox'] {
    font-size: 25px;
  }
}

@media (max-width: 480px) {
  label[for='menu-toggle-checkbox'] {
    font-size: 20px;
    padding: 0px 25px;
  }
}

/* Estilos para la lista del menú */
.header-nav-ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 74%;
  background-color: map-get($colores, 'background-rosa2');
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
  border-radius: $bord-r1;
  z-index: 3;
  transition: transform 0.3s;
}

.header-nav-ul li {
  font-weight: $font-wei-2;
  letter-spacing: $mayor;
  margin-bottom: 20px;
}
.header-nav-ul li:first-child {
  margin-top: 20px; /* Espacio vertical en la parte superior del primer elemento */
}

input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

input[type='checkbox']:checked ~ .header-nav-ul {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.header-nav-ul li:not(:last-child) {
  text-align: center;
}

.header-nav-ul a {
  color: map-get($colores, 'turquesa');
  text-decoration: none;
  padding: 10px 20px;
  font-size: $tamano4;
  transition: transform 0.3s;
  position: relative;
  display: block;
  font-weight: $font-wei-2;
  overflow: hidden;
}

.header-nav-ul a:hover {
  color: rgb(51, 202, 248);
  background-color: rgba(0, 0, 0, 0.425);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(180, 53, 159, 0.3);

  .header-nav-ul a::before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 100%;
    background-color: rgb(51, 202, 248);
    bottom: 0;
    left: 0;
    transition: width 0.3s;
  }

  .header-nav-ul a:hover::before {
    width: 100%;
  }

  &:hover {
    color: rgb(51, 202, 248);
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@media (max-width: 767px) {
  .header-nav-ul {
    height: 0;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    border-radius: 5px;
    width: 120%;
  }
  .header-nav-ul a {
    padding: 13px 15px;
    font-size: small;
  }
}

@media (max-width: 480px) {
  .header-nav-ul a {
    font-size: x-small;
    padding: 17px 14px;
  }
}
