/* DEFIENIENDO MAPA DE COLORES */

// Colores
$colores: (
  "background": rgba(0, 0, 0, 0.828),
  "yelow": #f4d721,
  "background-rosa": #a204a2a9,
  "background-rosa2": #310331e6,
  "h1-color": hsla(313, 93%, 48%, 0.788),
  "turquesa": rgb(51, 202, 248),
  "background-article": rgba(255, 0, 255, 0.18)
);

// Sombras
$sombras-color: (
  "h1-shadow": 0 0 10px rgba(64, 11, 44, 0.722), 0 0 20px #9d095db0
  "h2-shadow": 2px 2px 4px rgba(0, 0, 0, 0.5),
  "article-shadow": 6px 6px 6px #09bddd5a,
  "map-shadow": 4px 4px 10px rgba(0, 0, 0, 0.533),
  "header-shadow": 2px 2px 4px #41d5ef9a,
  "footer-shadow": 0px -5px 05px rgba(8, 187, 241, 0.486),
);

// Texto
$texto-color: (
  "text": #a9e8f4,
  "text-contact": #09bddd,
  "contact-paragraph": #f4d821cd,
  "h2-color": #edd53ce8,
);

// Otros
$otros-color: (
  "question-color": #22d6f6,
  "answer-color": #8dd4e0,
  "campo-border": 1px solid #ccc,
  "campos-background": #cccccc83,
  "quote-button-background": rgba(255, 0, 255, 0.5),
  "footer-text": rgb(60, 206, 251)
);




