/*Definiendo fuente*/

/* Agregadno fuentes de google*/
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');

$font1: 'Nanum Gothic', sans-serif;

$font-wei-1: 400; // fuente normal
$font-wei-2: 700; // fuente bold
$font-wei-3: 800; // fuente extra bold

/*tamaños*/
$tamano-1: 0.8rem;
$tamano1: 1.4rem;
$tamano2: 1.5rem;
$tamano3: 1.6rem;
$tamano4: 1.7rem;
$tamano5: 1.8rem;
$tamano6: 2rem;
$tamano7: 2.1rem;
$tamano8: 2.2rem;
$tamano9: 2.3rem;
$tamano10: 2.5rem;
$tamano11: 2.8rem;
$tamano12: 3rem;
$tamano13: 3.4rem;
$tamano14: 4rem;
$tamano15: 5rem;
$tamano16: 10.5rem;

/* Espacio entre letras*/
$menor: 1.5px;
$siguiente: 1px;
$medio: 2px;
$mayor: 6px;
