@import '../functions/mixins';
@import '../base/fonts';
@import '../base/variables';
@import '../base/colors';

.middle__galeria {
  padding: 4.5rem;
  @include flex-center-center;
}
/* -------- Galeria------*/
.galeria {
  padding: 50px;
  height: 600px;
}

@media (max-width: 767px) {
  .galeria {
    padding: 25px;
    height: auto;
  }
}

@media (max-width: 480px) {
  .galeria {
    padding: 10px;
    height: auto;
  }
}
/*--------------------------*/
/* Ancho del carrusel */
.carousel {
  max-width: 800px;
  margin: 0 auto;
}

/* Altura del carrusel */
.carousel-inner {
  max-height: 500px;

  .active {
    display: flex;
    justify-content: space-around;
  }

  img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 767px) {
  article {
    width: 70%;
  }
}

@media (max-width: 480px) {
  article {
    width: 100%;
  }
}
